<html>
<head>
	{% if title %}
		<title>{{ title }}</title>
	{% else %}
		<title>flask</title>
	{% endif %}
</head>
<body style="margin-left:10%; margin-right:10%">
	<h2 style="text-align:right"><a href="/">home</a> <a href="/blog">blog</a><sub><a href="/blog/add">+</a></sub></h2>
	<h1 style="text-align:center">
		Hello, {{ data.name }}. Welcome to your first {{ data.technology }} application!
	</h1>
	<!-- flash messages -->	
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }} </li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}	
	<!-- flash messages -->	
    <hr>
    {% block content %}{% endblock %}	
</body>
</html>